{{ define "likes" }}
    <i class="fa-solid fa-heart post-liked" style="cursor: pointer;"></i>
    <span>{{ .Likes }}</span>
{{ end }}

{{ define "edit" }}   
    <a href="/posts/{{ .Id }}/edit" style="text-decoration: none;">
        <i class="fa-solid fa-pen-to-square"></i>
    </a>
{{ end }}

{{ define "delete" }}
    <i class="fas fa-trash text-danger delete-post" style="cursor: pointer;"></i>
{{ end }}

{{ define "post-header" }}
    <h4 class="card-title">{{ .Title }}</h4>
    <p class="card-text">{{ .Content }}</p>
    <a href="/users/{{ .AuthorId }}">{{ .AuthorNick}}</a>
    <br>
{{ end }}

{{ define "post-with" }}
    <div class="jumbotron" data-post-id="{{ .Id }}">
        {{ template "post-header" . }}
        <small>
            {{ template "likes" . }}
        </small>
        <small>
            {{ template "edit" . }}
        </small>
        <small>
            {{ template "delete" . }}
        </small>
        <hr class="my-4">
    </div>
{{ end }}

{{ define "post-without" }}
    <div class="jumbotron" data-post-id="{{ .Id }}">
        {{ template "post-header" . }}
        <small>{{ template "likes" . }}</small>
        <hr class="my-4">
    </div>
{{ end }}