<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devbook</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form id="login" class="devbook-form" action="" method="post">
                <span>Seja bem vinde ao Devbook</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu email" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite o sua senha" required="required">
                </div> 
                <a href="/createuser">Criar conta</a>
                <button type="submit" class="btn-devbook">Login</button>
            </form>   
        </div>
    </div>
</body>
</html>